<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h1 *ngIf="mode == 1" class="mb-0">Visualizar</h1>
          <h1 *ngIf="mode == 2" class="mb-0">Crear</h1>
          <h1 *ngIf="mode == 3" class="mb-0">Actualizar</h1>
        </div>
        <form class="form" [formGroup]="theFormGroup">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label>id:</label>
              </div>
              <div class="col-8">
                <p>{{ bill.id }}</p>
              </div>
            </div>

            <br />
            <div class="row">
              <div class="col-4">
                <label>Fecha de pago</label>
              </div>
              <div class="col-8">
                <input
                  type="date"
                  class="form-control"
                  [(ngModel)]="bill.date_bill"
                  [disabled]="mode == 1"
                  formControlName="date_bill"
                />
                <div
                  *ngIf="
                    getTheFormGroup.date_bill.errors &&
                    (getTheFormGroup.date_bill.dirty ||
                      getTheFormGroup.date_bill.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.date_bill.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                </div>
              </div>
            </div>

            <br />
            <div class="row">
              <div class="col-4">
                <label>Cuota:</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="bill.quota"
                  [disabled]="mode == 1"
                  formControlName="quota"
                />
                <div
                  *ngIf="
                    getTheFormGroup.quota.errors &&
                    (getTheFormGroup.quota.dirty ||
                      getTheFormGroup.quota.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.quota.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-4">
                <label>Monto total</label>
              </div>
              <div class="col-8">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="bill.total_amount"
                  [disabled]="mode == 1"
                  formControlName="total_amount"
                />
                <div
                  *ngIf="
                    getTheFormGroup.total_amount.errors &&
                    (getTheFormGroup.total_amount.dirty ||
                      getTheFormGroup.total_amount.touched ||
                      trySend)
                  "
                >
                  <strong
                    *ngIf="getTheFormGroup.total_amount.errors.required"
                    class="msnError"
                    >Requerido</strong
                  >
                  <strong
                    *ngIf="getTheFormGroup.total_amount.errors.pattern"
                    class="msnError"
                    >El valor debe ser numerico</strong
                  >
                </div>
              </div>
            </div>
            <br />

            <br />
            <!-- Cuota Section -->
            <div class="row">
              <div class="col-4">
                Cuota:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="quota_id" [(ngModel)]="bill.quotas.id">
                  <option *ngFor="let option of quotas" [value]="option.id">Cuota: {{option.payment_date}} - Contrato:{{option.contract_id}}</option>
                </select>
              </div>
            </div>
            <br />
            <!-- Gasto Section -->
            <div class="row">
              <div class="col-4">
                Gasto:
              </div>
              <div class="col-8">
                <select class="form-control" formControlName="spent_id" [(ngModel)]="bill.spents.id">
                  <option *ngFor="let option of spent" [value]="option.id">Servicio: {{option.service_id}} - Viatico:{{option.travel_expense_id}}</option>
                </select>
              </div>
            </div>
            <br />

            <!-- Buttons -->
            <button *ngIf="mode == 2" class="btn btn-success btn-block" (click)="create()">Crear</button>
            <button *ngIf="mode == 3" class="btn btn-success btn-block" (click)="update()">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
