<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
   
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header bg-trasparent">
                <div class="row">
                    <div class="col-3">
                        <h3 class="mb-0">Gastos</h3>
                    </div>
                    <div class="col-6">

                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-success" (click)="create()">Crear</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                    <table class="table">
                    <thead>
                        <tr>
                            <th class="col-1">ID</th>
                            <th class="col-2">ID SERVICIO</th>
                            <th class="co-3l">ID PROPIETARIO</th>
                            <th class="col-1">ID VIATICO</th>
                            <th class="col-2">ID CONDUCTOR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let actual of spents">
                            <td>{{actual.id}}</td>
                            <td>{{actual.service_id}}</td>
                            <td>{{actual.owner_id}}</td>
                            <td>{{actual.travel_expense_id}}</td>
                            <td>{{actual.driver_id}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="view(actual.id)">Ver</button>
                                <button type="button" class="btn btn-warning" (click)="update(actual.id)">Actualizar</button>
                                <button type="button" class="btn btn-danger"(click)="delete(actual.id)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>