<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
   
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h2 *ngIf="mode==1">Visualizar</h2>
                    <h2 *ngIf="mode==2">Crear</h2>
                    <h2 *ngIf="mode==3">Actualizar</h2>
                </div>
                <form [formGroup] ="theFormGroup">
                    <div class="card-body">
                        <div class="container">
                            <div class="row mb-1">
                                <div class="col-4"><label>Id:</label></div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="tranches.id" disabled/>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-4"><label>origen:</label></div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="tranches.origin" [disabled]="mode==1"/>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-4"><label>Destino:</label></div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="tranches.destination" [disabled]="mode==1"/> 
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-4"><label>Fecha inicio:</label></div>
                                <div class="col-8">
                                    <input type="date" class="form-control" [(ngModel)]="tranches.start_date" [disabled]="mode==1"/>
                                </div>
                            </div>                    
                            <div class="row mb-1">
                                <div class="col-4"><label>Fecha fin:</label></div>
                                <div class="col-8">
                                    <input type="date" class="form-control" [(ngModel)]="tranches.end_date" [disabled]="mode==1"/>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-4"><label>Ruta:</label></div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="tranches.route_id" [disabled]="mode==1"/>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-4"><label>Vehiculo-Conductor:</label></div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="tranches.vehicle_driver_id" [disabled]="mode==1"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    
                                </div>
                                <div class="col-8">
                                    <button *ngIf="mode==2" (click)="create()" type="button" class="btn btn-outline-info btn-lgn btn-block">Crear</button>
                                    <button *ngIf="mode==3" (click)="update()" type="button" class="btn btn-outline-success btn-lgn btn-block">Actualizar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
