<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="mode === 1">Visualizar</h3>
          <h3 class="mb-0" *ngIf="mode === 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode === 3">Actualizar</h3>
        </div>
        <form [formGroup]="theFormGroup" class="form">
          <div class="card-body">
            <div class="container">
              <div class="row mb-3">
                <div class="col-4"><label>Id:</label></div>
                <div class="col-8">
                  <input
                    type="text"
                    formControlName="id"
                    class="form-control"
                    [disabled]="mode === 1 || mode === 3"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-4"><label>Id Servicio:</label></div>
                <div class="col-8">
                  <input type="text" formControlName="service_id" class="form-control" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-4"><label>Id Propietario:</label></div>
                <div class="col-8">
                  <input type="text" formControlName="owner_id" class="form-control" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-4"><label>Id Viatico:</label></div>
                <div class="col-8">
                  <input type="text" formControlName="travel_expense_id" class="form-control" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-4"><label>Id Conductor:</label></div>
                <div class="col-8">
                  <input type="text" formControlName="driver_id" class="form-control" />
                </div>
              </div>
              <div class="row">
                <div class="col-4"></div>
                <div class="col-8">
                  <button *ngIf="mode === 2" class="btn btn-primary btn-lg btn-block" (click)="create()">
                    Crear
                  </button>
                  <button *ngIf="mode === 3" class="btn btn-primary btn-lg btn-block" (click)="update()">
                    Actualizar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
